h1,
h2,
h3 {
  font-family: "Arial Black", Verdana, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 2.5rem;
}

h3 {
  margin-top: 2rem;
}

h1,
h2 {
  padding-bottom: 0.25rem;
  border-bottom: solid 0.25rem var(--border-color);

  @media (width > 768px) {
    margin-left: -1rem;
    padding: 0 1rem 0.5rem 1rem;
  }
}
