*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --scroll-spacer: 0px;

  --border-color: rgba(0, 0, 0, 0.2);
  --yellow: #ffc53e;
  --light-yellow: #fede96;

  /* smooth scroll only in JavaScript clicks since Back button is not annoying */
  /* scroll-behavior: smooth; */
}

html.modal-open {
  margin-inline-end: var(--scrollbar-width);

  body {
    overflow: hidden;
  }
}

/* Only show in wide/desktop size. We actually make it invisible instead of none so that
intersection observers still see it. */
.desktop {
  @media (width <= 768px) {
    position: absolute;
    visibility: hidden;
  }
}

p {
  margin: 0 0 1rem 0;
}

a {
  color: black;
  &:visited {
    color: black;
  }
}

.button {
  padding: 0.25rem 1rem;
  border-radius: 999px;
  appearance: none;
  /* background-color: var(--light-yellow);
  color: black; */
  color: white;
  background: #7d6739;
  font-size: 1rem;
  border: none;
  min-width: 5rem;
  cursor: pointer;

  &.button--dark {
  }

  &:hover {
    background-color: #a5894d;
  }
}

body,
button,
input {
  font-family: Trebuchet, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: var(--yellow);

  background-attachment: fixed;
  font-family: Trebuchet, Helvetica, Arial, sans-serif;
  padding: 0rem;
  padding-top: 4rem;
  margin: 0;
  font-size: 1rem;

  @media (width > 768px) {
    background-image: radial-gradient(#f9cf6c, var(--yellow));
    padding-top: 0rem;
    font-size: 1.1rem;
  }
}

h1 {
  font-size: 2rem;
  padding: 0.5rem;
}

h1,
h2 {
  margin-top: 0;
  margin-right: 0;
  padding: 0 0 0.25rem;
  font-family: "Arial Black", Verdana, sans-serif;

  border-bottom: solid 0.25rem var(--border-color);

  @media (width > 768px) {
    margin-left: -1rem;
    padding: 0 1rem 0.5rem 1rem;
  }
}

h2 {
  margin-top: 2rem;
}

section {
  display: flow-root;

  /* compensate for possible fixed header in mobile view */
  scroll-margin-top: 3rem;

  @media (width > 768px) {
    scroll-margin-top: 0;
  }
}

section:last-child {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem;
}

.cols {
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 50rem);
  gap: 4rem;

  margin: 0 auto;
  justify-content: center;

  @media (width > 768px) {
    grid-template-columns: 15rem minmax(0, 50rem);
  }
}

video,
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

figure {
  margin: 0 0 2rem 0;

  .photo {
    margin-bottom: 1rem;
  }
}

.sr-only,
figcaption {
  position: absolute;
  width: 1px;
  padding: 0;
  overflow: hidden;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  clip-path: circle(0);
}

.photo,
.vidplayer__video,
.compare {
  border: solid 10px white;
  box-shadow: 3px 3px 10px var(--border-color);
  user-select: none;
  -webkit-user-select: none;
  position: relative;
}

.photo,
.vidplayer {
  margin-bottom: 2rem;
}

.photo {
  display: block;
  cursor: zoom-in;
  margin-bottom: 2rem;
}

.vidplayer {
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.vidplayer__video,
.vidplayer__overlay {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.vidplayer__overlay {
  pointer-events: none;
  z-index: 1;
}

.vidplayer__video {
  cursor: pointer;
  background-color: white;
}

.vidplayer__button {
  min-width: 6rem;
  justify-content: center;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

.skill-grid {
  margin-block-start: 2rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5rem 1rem;

  dt,
  dd {
    margin: 0;
  }

  dt {
    font-weight: bold;
  }

  @media (width > 768px) {
    gap: 0.25rem 3rem;
  }
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tag {
  border: solid 1px gray;
  border-radius: 100px;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.tag--js {
  background-color: dodgerblue;
  color: white;
}

*:focus-visible {
  outline: solid 2px black;
}

.tag-cloud {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-columns: min-content min-content min-content min-content min-content;
  justify-content: start;
  gap: 0.5rem 1rem;

  & > * {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    padding: 0.25rem 0.5rem;
    text-align: center;
    white-space: nowrap;
  }
}
