/* Generic vertical spacing in main section */
section,
main,
dialog {
  & > * + * {
    margin-block-start: 1rem;
  }
}

/* Only show in wide/desktop size. We actually make it invisible instead of none so that
intersection observers still see it. */
.desktop {
  @media (width <= 768px) {
    position: absolute;
    visibility: hidden;
  }
}

/* In mobile view we hide some elements. Logically this marks the first, non-hidden first child. We
need to turn off top-margin since it's not really after anything visual. */
.mobile-first-child {
  @media (width <= 768px) {
    margin-block-start: 0;
  }
}

.float-right {
  float: right;
  margin: 0;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.ms-4 {
  margin-inline-start: 1rem;
}

.me-4 {
  margin-inline-end: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.opacity-0 {
  opacity: 0;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
