:root {
  --scroll-spacer: 0px;

  --yellow: #ffc53e;
  --light-yellow: #fede96;
  --mustard-yellow: #cc9d33;
  --dark-gray: #252323;

  --bg-color: var(--yellow);
  --bg-color-light: var(--light-yellow);
  --body-gradient: radial-gradient(#f9cf6c, var(--yellow));

  --text-color: black;
  --text-color-light: var(--dark-gray);
  --text-color-x-light: #664f1b;
  --heading-color: black;

  --border-color: var(--mustard-yellow);

  --button-bg: #7d6739;
  --button-bg-hover: #a5894d;
  --button-bg-active: #bd9e5c;

  --dash-color: #a5894d;

  --shadow-color: rgba(0, 0, 0, 0.2);

  --tint-text-color: #664f1b;

  --nav-hover: #fcd57b;
  --nav-active: #fedb8d;
  --nav-selected: #fedf9c;
  --nav-selected-text-color: inherit;

  --hamburger-bg: black;

  --z-header: 300;
  --z-sidebar: 200;
  --z-navunderlay: 100;

  --mario-red: #e60013;
  --mario-green: #11b14c;
  --mario-blue: #059fdb;
  --mario-yellow: #ffd100;

  --cc-custom-color: white;
}

:root.theme-vanilla {
}
